################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestTest123/FileContentIndex/*
*.dll
/TestTest123.Desktop/bin/Debug/net8.0/TestTest123.exe
