################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestTest123/FileContentIndex/e9d2486e-ffb9-4518-8689-7d9738c5c1b9.vsidx
